<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iseng">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dc_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dc_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Iseng">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".DaftarSiswaActivity" android:exported="false" />
        <activity android:name=".TambahSiswaActivity" android:exported="false" />
        <activity android:name=".DetailSiswaActivity" android:exported="false" />
        <activity android:name=".CatatKetringMassalActivity" android:exported="false" />
        <activity android:name=".LaporanActivity" android:exported="false" />

    </application>

</manifest>
